[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipykernel = "*"

[packages]
pandas = "*"
numpy = "*"
xlrd = "*"
geotext = "*"
geopy = "*"
linearmodels = "*"
statsmodels = "*"
scipy = "==1.2.0"

[requires]
python_version = "3.6.6"
